@import "../../utils/_examvariables.scss";

#game_shop_page {
  margin-top: 100px;
  margin-bottom: 100px;

  .game_shop_page_heading {
    margin-bottom: 24px;

    h1 {
      text-transform: uppercase;
      font-size: 32px;
    }
  }

  .game_shop_page_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

    .game_shop_page_content_item {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      justify-items: start;
      align-items: end;
      justify-content: center;
      gap: 12px;

      .game_shop_page_content_item_image {
        img {
          display: block;
          width: 200px;
          height: 200px;
        }
      }

      .game_shop_page_content_item_main {
        h3 {
          margin-bottom: 12px;
          font-weight: bold;
          font-size: 24px;
        }

        p {
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 16px;
        }

        button {
          border-radius: 6px;
          padding: 6px 36px;
        }
      }
    }
    @media screen and (max-width: 1367px) {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    @media screen and (max-width: 768px) {
      gap: 24px;

      .game_shop_page_content_item {
        grid-template-columns: 1fr 1.5fr;

        .game_shop_page_content_item_image {
          img {
            display: block;
            width: 150px;
            height: 150px;
          }
        }

        .game_shop_page_content_item_main {
          h3 {
            margin-bottom: 8px;
            font-size: 18px;
          }

          p {
            margin-bottom: 16px;
            font-size: 12px;
          }
        }
      }
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      gap: 40px;

      .game_shop_page_content_item {
        grid-template-columns: 1fr 1.5fr;
        gap: 12px;

        .game_shop_page_content_item_image {
          img {
            display: block;
            width: 210px;
            height: 210px;
          }
        }

        .game_shop_page_content_item_main {
          h3 {
            margin-bottom: 12px;
            font-size: 24px;
          }

          p {
            margin-bottom: 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
