@import "../../utils/_examvariables.scss";

#game_shop {
  .game_shop_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $gaps;
    padding-top: 12px;
    margin-bottom: 12px;

    h1 {
      text-transform: uppercase;
      font-size: 24px;
    }

    button {
      border-radius: 8px;
      padding: 6px 32px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .game_shop_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    background-color: $light-grey;
    padding: 48px 32px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      padding: 24px 12px;
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    .game_shop_content_item {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      justify-items: start;
      align-items: end;
      justify-content: center;
      gap: 8px;

      .game_shop_content_item_image {
        img {
          display: block;
          width: 200px;
          height: 200px;
          @media screen and (max-width: 1400px) {
            width: 150px;
            height: 150px;
          }
        }
      }

      .game_shop_content_item_main {
        h3 {
          margin-bottom: 12px;
          font-weight: bold;
          font-size: 22px;
          @media screen and (max-width: 1400px) {
            font-size: 20px;
            margin-bottom: 8px;
          }

          @media screen and (max-width: 1024px) {
            font-size: 18px;
          }
        }

        p {
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 16px;
          @media screen and (max-width: 1400px) {
            font-size: 14px;
            margin-bottom: 12px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 12px;
          }
        }

        button {
          border-radius: 6px;
          padding: 6px 32px;
          @media screen and (max-width: 1024px) {
            padding: 6px 24px;
          }
        }
      }
    }
  }
}
