#home_page {
    width: 100%;
    margin-top: 72px;
    margin-bottom: 72px;
  
    .home_page_container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 60px;
      margin-top: 24px;
  
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
      }
    }
  }
  