#game_card {
    .game_card_image {
      margin-bottom: 8px;
  
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  
    .game_card_title {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 8px;
    }
  
    .game_card_genres {
      font-weight: bold;
      font-size: 16px;
    }
  
    @media screen and (max-width: 768px) {
      .game_card_title {
        font-size: 16px;
        margin-bottom: 8px;
      }
  
      .game_card_genres {
        font-size: 12px;
      }
    }
  }
  