@import "./utils/_examvariables.scss";

.app {
  // width: 85%;
  margin: auto;
}
.w-90 {
  padding-left: 5% !important;
  padding-right: 5% !important;
  @media screen and (max-width: 768px) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
